@tailwind base;
@tailwind components;
@tailwind utilities;

/* Heading */
.hero {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* Hero */
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: Poppins;
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: 96px; /* 100% */
  letter-spacing: -1.92px;
}
.hairline-1 {
  /* Hairline 1 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
  text-transform: uppercase;
}

.heading-1 {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Headline 1 */
  font-family: Poppins;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 84px; /* 105% */
  letter-spacing: -3px;
}

.heading-2 {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Headline 2 */
  font-family: Poppins;
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
  line-height: 76px; /* 105.556% */
  letter-spacing: -2px;
}

.heading-3 {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Headline 3 */
  font-family: Poppins;
  font-size: 54px;
  font-style: normal;
  font-weight: 500;
  line-height: 58px; /* 107.407% */
  letter-spacing: -1px;
}

.heading-4 {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Headline 4 */
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px; /* 110% */
  letter-spacing: -0.4px;
}

.heading-5 {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Headline 5 */
  font-family: Poppins;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 111.765% */
  letter-spacing: -0.6px;
}

.heading-6 {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Headline 6 */
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 121.429% */
  letter-spacing: -0.6px;
}

.heading-7 {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Headline 7 */
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
}

/* text */
.text-26px-regular {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Text/26px/Regular */
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 153.846% */
}

.text-26px-semibold {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Text/26px/Semibold */
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 153.846% */
}

.text-26px-bold {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Text/26px/Bold */
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 153.846% */
}

.text-22px-regular {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Text/22px/Regular */
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 154.545% */
}

.text-22px-semibold {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Text/22px/Semibold */
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px; /* 154.545% */
}

.text-22px-bold {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Text/22px/Bold */
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 154.545% */
}

.body-1 {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Body 1 */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.body-1-semi {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Body 1 (Semi) */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
}

.body-1-bold {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Body 1 (Bold) */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 160% */
}

.text-18px-regular {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Text/18px/Regular */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.text-18px-semibold {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Text/18px/Semibold */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}

.text-18px-bold {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Text/18px/Bold */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 166.667% */
}

.body-2 {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Body 2 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.body-2-semi {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Body 2 (Semi) */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 162.5% */
}

.body-2-bold {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Body 2 (Bold) */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
}

.caption {
  /* Caption */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.caption-1 {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Caption 1 */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.caption-1-semi {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Caption 1 (Semi) */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 157.143% */
}

.caption-1-bold {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Caption 1 (Bold) */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 157.143% */
}

.caption-2 {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Caption 2 */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}

.caption-2-semi {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Caption 2 (Semi) */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 166.667% */
}

.caption-2-bold {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Caption 2 (Bold) */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 166.667% */
}

/* Button */
.button-xl {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Button XL */
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 146.154% */
}

.button-l {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Button L */
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 154.545% */
}

.button-m {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Button M */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 177.778% */
  letter-spacing: -0.4px;
}

.button-s {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Button S */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  letter-spacing: -0.4px;
}

.button-xs {
  font-feature-settings:
    "clig" off,
    "liga" off;

  /* Button XS */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}

/*  */
.text-with-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
